<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | Natural Disaster Management</title>
     <link rel="stylesheet" type="text/css" href="/styles/styles.css"">
</head>
<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form action="{{ url_for('index') }}" method="POST">
            <div class="input-group">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="input-group">
                <label for="MobileNo">Phone Number</label>
                <input type="text" id="mobNo" name="MobileNo" required>
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            {% if check_pass == 0 %}
                <div>{{err_text}}</div>
            {% endif %}
            <div class="actions">
                <button type="submit" class="btn">Sign Up</button>
            </div>
            <p>Already have an account? <a href="{{url_for('login')}}">Login</a></p>
        </form>
    </div>
</body>
</html>