<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Disaster Management</title>
    <link rel="stylesheet" type="text/css" href="/styles/user.css">
</head>
<body>
<div class="container1">
    <!-- <div class="navBar">
        <nav>
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('location')}}">Location</a></li>
                <li><a href="{{url_for('signup')}}">Sign Up</a></li>
                <li><a href="{{url_for('login')}}">Login</a></li>
            </ul>
        </nav>
    </div> -->
    <div class="col">
        <div class="row">
            <h1 class="welcome">Welcome, {{ info[0][0] }}</h1>
            <a href="{{url_for('personal_details')}}"><button>Enter Personal Data</button></a>
        </div>
        
        <div class="row">
            <a href= "{{url_for('edu')}}">
            <div class="card1">
                <h5></h5>
            </div>
            </a>
            <div class="card2">
                <h5></h5>
            </div>
            <div class="card3">
                <h5></h5>
            </div>
            <div class="card4" style="background-color:#f223;">
                <h5></h5>
            </div>
        </div>
    </div>
</div> 
</body>
</html>